---

---

<div
  class="dark text-muted text-sm bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <span
    class="dark:bg-slate-700 bg-white/40 dark:text-slate-300 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block"
    >¡Últimas Novedades!</span
  >
  <a href="#features" class="text-muted hover:underline dark:text-slate-400 font-medium"
    >¡Explora nuestras nuevas características y servicios hoy mismo!</a
  >
  <div class="flex ml-auto">
    <!-- Enlace a YouTube -->
    <a
      target="_blank"
      rel="noopener"
      class="w-[1.25rem] h-[1.25rem] inline-block bg-[url(https://img.icons8.com/color/48/000000/youtube-play.png)] bg-contain"
      title="Síguenos en YouTube"
      href="https://bit.ly/jsolutions_youtube"></a>
    <!-- Enlace a Instagram -->
    <a
      target="_blank"
      rel="noopener"
      class="w-[1.25rem] h-[1.25rem] inline-block bg-[url(https://img.icons8.com/color/48/000000/instagram-new.png)] bg-contain"
      title="Síguenos en Instagram"
      href="https://www.instagram.com/jzolutions/"></a>
    <!-- Enlace a LinkedIn -->
    <a
      target="_blank"
      rel="noopener"
      class="w-[1.25rem] h-[1.25rem] inline-block bg-[url(https://img.icons8.com/color/48/000000/linkedin.png)] bg-contain"
      title="Síguenos en LinkedIn"
      href="https://www.linkedin.com/company/jzolutions/"></a>
    <a
      target="_blank"
      rel="noopener"
      class="w-[1.25rem] h-[1.25rem] inline-block bg-[url(https://img.icons8.com/color/48/000000/tiktok.png)] bg-contain"
      title="Síguenos en TikTok"
      href="https://www.tiktok.com/@jzolutions"></a>
  </div>
</div>
